:root {
    --background: #FFF7E5;
    --dark: #282824;
    --accent2: #1E3E62;
    --blue: #9beffa;
}

body {
    background-color: var(--background);
    font-family: "Young Serif";
    margin: 0;
    position: relative;
}

.book-body {
    height: 99vh;
}

.header {
    display: flex;
    width: 90%;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.header-mobile {
    display: none;
}

h1 {
    font-size: 1.7rem;
}

.selected {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: var(--dark);
}

a:visited {
    color: inherit;
}

.rtg-pic {
    height: 150px;
    width: auto;
    filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.4));
    z-index: 20;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin-top: 0px;
}

.nav {
    display: flex;
    gap: 100px;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

svg {
    transform: scale(.8);
  }

.image-container {
    background-color: grey;
    width: 100%;
    height: 230px;
    overflow: hidden;
    display: flex;
    /* position: absolute; */
    top: 200px;
}

.bf, .jake, .jakeandfinn, .finn {
    /* display: block; */
    height: auto;
    object-fit: cover;
}
/* 
.bf {
    width: 20%;
}

.jake {
   width: 20%;
}

.berkshire {
    width: 20%;
}

.jakeandfinn {
    width: 20%;
}

.finn {
    width: 20%;
    transform: translate(0px, 20px);
} */

.shows {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-bottom: 100px;
    /* border: 2px solid var(--dark); */
}

.card {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 0px;
    width: 70%;
    justify-content: space-evenly;
    border: 2px solid var(--dark);
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 600;
}

.card p {
    width: 28%;
    margin-top: 23px;
    margin-bottom: 23px
}

.city {
    width: 20%;
    margin-left: 65px;
}

.date, .time {
    width: 10%;
    text-align: right;
}

.venue {
    margin-left: 25px;
}

.date {
    margin-right: 25px;
}

.card:hover {
    background-color: var(--dark);
    color: var(--background);
    transition: .3s ease-in-out;
}


.footer {
    display: flex;
    flex-direction: column;
    color: var(--background);
    background-color: var(--dark);
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* margin-top: 50px; */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 7px;
}

.footer h3 {
    margin: 5px;
}

@media (max-width: 480px) {

    html {
        /* overflow-x: hidden; */
    }

    .body {
        background-color: white !important;
        width: 100vw;
        /* overflow-x: hidden; */
    }
    
    .book-body {
        height: 99vh;
        /* width: 100vw; */
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        /* background-color: white !important; */
    }
    
    .header-mobile {
        display: flex;
        width: 100vw;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: 0px;
        /* background-color: var(--dark); */
    }

    .header {
        display: none;
    }
    
    h1 {
        font-size: 1.4rem;
    }
    
    .mobile-h1 {
        color: white !important;
        text-align: center;
        /* width: 100%; */
    }

    .mobile-a {
        padding-top: 2px;
        padding-bottom: 2px;
        white-space: nowrap;
        width: 40%;
    }
    
    .rtg-pic {
        height: auto;
        width: 80%;
        filter: drop-shadow(0px 4px 15px rgba(0, 0, 0, 0.4));
        z-index: 20;
        transform: translate(0px -50px);
    }
    
    .nav-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0px;
        margin-top: 0px;
    }
    
    .nav {
        display: flex !important;
        background-color: var(--dark);
        justify-content: flex-start;
        align-items: center;
        padding-left: 40px;
        width: 100vw;
        gap: 60px;
    }
    
    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 35px;
        width: 100vw;
    }

    .hero-container {
        background-image: url(images/beaverfest.jpg);
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 50vh;
        background-position: 50% 50%;
    }
    
    svg {
        transform: scale(.8);
      }

    .hamburger {
        transform: scale(1.1);
    }
    
    .image-container {
        display: none;
    }
    
    .bf, .jake, .jakeandfinn, .finn, .berkshire {
        display: none;
    }
    
    .shows {
        display: flex;
        flex-direction: column;
        width: 105%;
        align-items: center;
        background-color: var(--dark);
        color: white;
    }
    
    .cards-container {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        margin-bottom: 100px;
        /* border: 2px solid var(--dark); */
    }
    
    .card {
        /* display: flex;
        flex-direction: column;
        flex-wrap: wrap; */
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px;
        width: 70%;
        justify-content: space-evenly;
        border: 2px solid white;
        border-radius: 10px;
        font-size: 1.3rem;
        font-weight: 600;
    }
    
    .card p {
        /* width: 50%; */
        text-align: center;
        display: inline;
        color: white;
    }
    
    .city {
        order: 4;
        padding-bottom: 10px !important;
        font-size: 1.1rem;
    }
    
    .date, .time {
        /* width: 30% !important; */
        text-align: center !important;
        margin: 10px !important;
        display: inline-block !important;
        white-space: nowrap;
    }

    .city, .venue {
        width: 70% !important;
        margin: 5px !important;
        white-space: nowrap;
        display: block;
        grid-column: span 2;
        text-align: left !important;
        margin-left: 70px !important;
    }
    
    .venue {
        order: 3;
        /* margin-left: 25px; */
    }

    .time {
        order: 2;
        margin-right: 35px !important;

    }
    
    .date {
        order: 1;
        margin-left: 40px !important;
    }
    
    
    .footer {
        display: flex;
        flex-direction: column;
        color: var(--background);
        background-color: black;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        position: absolute;
        bottom: 0px;
        width: 100%;
        /* margin-top: 50px; */
    }
    
    .footer-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 7px;
    }
    
    .footer h3 {
        margin: 5px;
    }

  }